body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: #f4f4f4;
}

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(../media/photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 10px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.content .logo {
  height: 300px;
  width: 300px;
}

.content .title {
  font-family: "Dancing Script", cursive;
  font-size: 3.8rem;
  margin-top: 1rem;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
  text-align: center;
}

.container a:hover {
  color: rgb(255, 121, 215);
  transition: all 1000ms ease-in-out;
}

.grid-3 {
  margin: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

/* footer */
#main-footer {
  margin-top: 0;
  text-align: center;

  background: #333;
  color: #fff;
  height: 73px;
}

.sig {
  padding: 1rem;
  float: left;
  font-size: 14px;
}
.author {
  font-size: 10px;
  padding: 0.5rem;
  float: right;
}
.author-logo img {
  padding: 5px;
  width: 50px;
  border-radius: 25px;
}
.author-logo {
  float: right;
}
.author-info {
  margin-top: 10px;
  float: left;
}
.author-info a {
  font-weight: bolder;
  color: deepskyblue;
}

/* Small Screens */
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  .content {
    top: 5%;
    margin-top: 5px;
  }

  .content .logo {
    height: 140px;
    width: 140px;
  }

  .content .title {
    font-size: 2.8rem;
  }

  .content .text,
  .primary-text {
    display: none;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .services div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
}
