* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.logo {
  /* padding: 10px; */
  /* height: 70px; */
  width: 65px;
}

.navbar-brand h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: darkmagenta;
  /* padding: 3px; */
  /* padding-right: 20px; */
}
.navbar-brand h5 {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  /* padding: 3px; */
  /* padding-right: 20px; */
}
nav {
  border-bottom: 3px solid lime;
}

.long-banner img {
  width: 100%;
  z-index: -1;
}
.overlay {
  border-bottom: 3px solid darkmagenta;
}
#main {
  background: url(../media/background1.jpeg) no-repeat;
  background-size: cover;
  /* overflow: hidden; */
}
/* welcome page */
.main_content {
  margin-top: 5%;
  padding: 0.5rem;
  color: #fff;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "advert1 advert2 advert3"
    "advert4 advert5 advert6";
  grid-template-columns: repeat(3, 1fr);
}

.main_content .advert-1 {
  grid-area: advert1;
}
.main_content .advert-2 {
  grid-area: advert2;
}
.main_content .advert-3 {
  grid-area: advert3;
}
.main_content .advert-4 {
  grid-area: advert4;
}
.main_content .advert-5 {
  grid-area: advert5;
}
.main_content .advert-6 {
  grid-area: advert6;
}
.main_content .advert {
  background: #404040;
  opacity: 0.8;
  padding: 0.5rem;
  border-bottom: lime 5px solid;
}

/* Birthday cakes */
.birthday {
  background: #5c1f5c;
}
.image {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image img {
  margin: 5px;
  border: 1px solid lime;
  width: 100%;
}
.image img:hover {
  padding: 2px;
  border: 3px solid #fff;
  transition: all 0.2s ease-in;
}
.frame-3x3 img {
  max-width: 300px;
  max-height: 300px;
}
.frame-3x2 img {
  max-width: 300px;
  max-height: 200px;
}
.frame-2x3 img {
  max-width: 200px;
  max-height: 300px;
}

/* footer */
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darkmagenta;
  color: #fff;
  height: 60px;
}
