* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  /* padding: 10px; */
  /* height: 70px; */
  width: 65px;
}

.navbar-brand h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: darkmagenta;
  /* padding: 3px; */
  /* padding-right: 20px; */
}
.navbar-brand h5 {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  /* padding: 3px; */
  /* padding-right: 20px; */
}

nav {
  border-bottom: 3px solid lime;
}

.long-banner img {
  width: 100%;
  z-index: -1;
}
/* .overlay {
  background-color: #000;
  opacity: 0.8;
} */

/* welcome page */
#main {
  height: calc(100vh-60px);
  background: url(../media/background1.jpeg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Gallery */
#gallery {
  background: #5c1f5c;
}
.image {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image img {
  margin: 5px;
  border: 1px solid lime;
  width: 100%;
}
.image img:hover {
  padding: 2px;
  border: 3px solid #fff;
  transition: all 0.2s ease-in;
}
.frame-3x3 img {
  max-width: 300px;
  max-height: 300px;
}
.frame-3x2 img {
  max-width: 300px;
  max-height: 200px;
}
.frame-2x3 img {
  max-width: 200px;
  max-height: 300px;
}

/* About Page */
#about {
  background: url(../media/about_background.jpeg) no-repeat;
  background-size: cover;
}
.about_content {
  text-align: center;
  align-content: center;
  color: rgb(255, 255, 255);
}
.baker {
  position: relative;
  margin: auto;
  padding: 20px;
  max-width: 800px;
  background: #404040;
  opacity: 0.8;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(16, 253, 8, 0.2);
}
.baker-image {
  width: 200px;
  height: 200px;
  background: url(../media/thelma.JPG);
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 30px 20px 20px 0;
}
.baker p {
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 22px;
}

.about_content h1 {
  font-size: 2rem;
  font-weight: bolder;
}
.advert_content {
  /* margin-top: 5%; */
  padding: 0.5rem;

  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "advert1 advert2 advert3"
    "advert4 advert5 advert6";
  grid-template-columns: repeat(3, 1fr);
}

.advert_content .advert-1 {
  grid-area: advert1;
}
.advert_content .advert-2 {
  grid-area: advert2;
}
.advert_content .advert-3 {
  grid-area: advert3;
}
.advert_content .advert-4 {
  grid-area: advert4;
}
.advert_content .advert-5 {
  grid-area: advert5;
}
.advert_content .advert-6 {
  grid-area: advert6;
}
.advert_content .advert {
  background: #404040;
  opacity: 0.8;
  padding: 0.5rem;
  border-bottom: lime 5px solid;
}
/* footer */
#main-footer {
  margin-top: 0;
  text-align: center;
  padding: 1rem;
  background: darkmagenta;
  color: #fff;
  height: 60px;
}

.social-icons i {
  margin: 0 20px;
  color: #fff;
}
.social-icons i:hover {
  color: lime;
  transition: all 0.2s ease-in;
}
.sig {
  font-size: 12px;
}
